:root {
    --strong-cyan: hsl(172, 67%, 45%);
    --very-dark-cyan: hsl(183, 100%, 15%);
    --dark-grayish-cyan: hsl(186, 14%, 43%);
    --dark-grayish-cyan-two: hsl(184, 14%, 56%);
    --light-grayish-cyan: hsl(185, 41%, 84%);
    --white: hsl(0, 0%, 100%);
  
    --font-spacemonoreg: "Space Mono";
  }
  
  .calc-body {
    background: var(--light-grayish-cyan);
    font-family: var(--font-spacemonoreg);
    height: 100vh;
  }
  
  .calc-container {
    width: 800px;
    margin: 0 auto;
    padding-top: 100px;
  }
  
  .calc-container h1 {
    text-align: center;
    font-size: 1.5em;
    color: var(--very-dark-cyan);
    letter-spacing: 8px;
  }
  
  .calc-main {
    width: 100%;
    height: 360px;
    margin: 5em 0;
    border-radius: 12px;
    background: var(--white);
  }
  
  .calc-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
  
  .calc-content-left {
    width: 50%;
    padding: 25px;
  }
  
  .calc-content-left input[type="text"] {
    background-image: url("../../assets/tips-calculator-img/icon-dollar.svg");
    background-position: 4% 50%;
    background-repeat: no-repeat;
    text-align: right;
    color: var(--very-dark-cyan);
    width: 75%;
    padding: 13px 30px 13px 0;
    margin: 1em auto;
    border-radius: 12px;
    border: 2px solid var(--white);
    font-family: var(--font-spacemonoreg);
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  }
  
  .calc-content-left input:focus {
    outline: none !important;
    border: 2px solid #90ee90;
    box-shadow: 0 0 0 #90ee90;
  }
  
  .calc-content-left  .calc-bill {
    font-size: 0.8em;
    color: var(--dark-grayish-cyan);
    font-weight: bold;
  }
  
  .calc-content-left  .calc-select-tip {
    font-size: 0.8em;
    color: var(--dark-grayish-cyan);
    font-weight: bold;
  }
  
  .calc-content-left  .calc-content-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
    gap: 10px;
    margin: 0.5em 0 1.5em 0;
  }
  
  .calc-content-left  .calc-content-grid  .calc-grid-item {
    height: 30px;
    width: 72px;
    background: var(--very-dark-cyan);
    border-radius: 3px;
    text-align: center;
    color: var(--white);
    font-weight: bold;
    cursor: pointer;
  }
  
  .calc-custom-item input[type="text"] {
    height: 5px;
    width: 70%;
    background: var(--white);
    border-radius: 8px;
    text-align: center;
    margin: 0;
    padding-right: 0em;
    color: var(--dark-grayish-cyan);
    font-weight: bold;
    cursor: pointer;
    font-size: 0.9em;
    box-shadow: 0 0 0 0;
  }
  
  .calc-custom-item input[type="text"]::placeholder {
    font-size: 1.2em;
  }
  
  .calc-content-left  .calc-content-grid  .calc-grid-item:hover {
    background: var(--strong-cyan);
    color: #000;
  }
  
  .calc-num-people {
    font-size: 0.8em;
    color: var(--dark-grayish-cyan);
    font-weight: bold;
  }
  
  .calc-people input[type="text"] {
    background-image: url("../../assets/tips-calculator-img/icon-person.svg");
    background-position: 4% 50%;
    background-repeat: no-repeat;
    text-align: right;
    color: var(--very-dark-cyan);
    width: 75%;
    padding: 13px 30px 13px 0;
    border-radius: 12px;
    border: 2px solid var(--white);
    font-family: var(--font-spacemonoreg);
    font-weight: bold;
    -webkit-box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
    box-shadow: 2px 2px 5px 0px rgba(0, 0, 0, 0.35);
  }
  
  .calc-content-right {
    width: 50%;
    padding: 25px;
    margin-right: 1em;
    background: var(--very-dark-cyan);
    border-radius: 12px;
  }
  
  .calc-tip-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .calc-tip-right {
    font-size: 3em;
    color: var(--strong-cyan);
    font-weight: bold;
  }
  
  .calc-tip-left {
    margin: 0;
  }
  
  .calc-tip-left h3 {
    font-size: 1em;
    margin: 0;
    color: var(--white);
  }
  
  .calc-tip-left p {
    font-size: 0.8em;
    margin: 0;
    color: var(--dark-grayish-cyan);
    font-weight: bold;
  }
  
  .calc-total-amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1em;
  }
  
  .calc-total-right {
    font-size: 3em;
    color: var(--strong-cyan);
    font-weight: bold;
  }
  
  .calc-total-left h3 {
    font-size: 1em;
    margin: 0;
    color: var(--white);
  }
  
  .calc-total-left p {
    color: var(--dark-grayish-cyan);
    margin: 0;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .calc-btn-reset {
    text-align: center;
    padding: 8px;
    border-radius: 8px;
    background: var(--strong-cyan);
    text-transform: uppercase;
    font-weight: bold;
    color: var(--very-dark-cyan);
    margin-top: 5em;
    cursor: pointer;
  }
  
  .calc-btn-reset:hover {
    background: var(--light-grayish-cyan);
  }
  
  .calc-attribution {
    font-size: 11px;
    text-align: center;
  }
  .calc-attribution a {
    color: hsl(228, 45%, 44%);
  }
  
  @media (max-width: 375px) {
    .calc-main {
      height: 100%;
      width: 50%;
    }
  
    .calc-container h1 {
      position: relative;
      right: 240px;
    }
    .calc-content {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .calc-content-left {
      width: 75%;
      margin-top: 2em;
      padding: 0;
    }
  
    .calc-total-right {
      font-size: 2em;
    }
    .calc-tip-right {
      font-size: 2em;
    }
    .calc-content-left .calc-content-grid .calc-grid-item {
      width: 115px;
      place-items: center;
    }
    .calc-content-left input[type="text"] {
      width: 90%;
    }
    .calc-content-left .calc-content-grid {
      gap: 25px;
    }
    .calc-content-right {
      width: 70%;
      margin-bottom: 2em;
    }
    .calc-btn-reset {
      margin-top: 2em;
    }
  }

  