
.calc-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.calc-body {
  width: 100vw;
  height: 100vh;
  background-color: #c5e4e7;
  padding-top: 100px;  
}

.calc-p {
  font-family: "Space Mono", monospace;
}

.calc-h2 {
  font-family: "Space Mono", monospace;
  color: white;
}

.calc-label {
  font-family: "Space Mono", monospace;
  font-size: 1.8rem;
  color: #5e7a7d;
}

.calc-input {
  font-family: "Space Mono", monospace;
  background-color: #f4fafa;
  text-align: right;
  border: none;
}

.calc-container {
  width: 100vw;
  max-width: 1000px;
  background-color: white;
  border-radius: 25px 25px 0 0;
  padding: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.calc-general-input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.calc-bill-container .calc-input {
  width: 100%;
  font-size: 2.4rem;
  font-weight: 700;
  background-image: url("../../assets/tips-calculator-img/icon-dollar.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 5% center;
  color: #00494d;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.calc-bill-container .calc-input:focus, .calc-bill-container .calc-input:hover {
  outline: 2px solid #26c0ab;
}

.calc-bill-container .calc-input::-webkit-input-placeholder {
  color: #7f9c9f;
}

.calc-bill-container .calc-input:-ms-input-placeholder {
  color: #7f9c9f;
}

.calc-bill-container .calc-input::-ms-input-placeholder {
  color: #7f9c9f;
}

.calc-bill-container .calc-input::placeholder {
  color: #7f9c9f;
}

.calc-tip-input {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr);
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: "five ten"
 "fifteen twenty-five"
 "fifty custom";
  -webkit-column-gap: 15px;
          column-gap: 15px;
  row-gap: 15px;
  margin-top: 15px;
}

.calc-tip-input input[type="radio"] {
  display: none;
}

.calc-tip-input input[type="radio"]:checked + label {
  background-color: #26c0ab;
  color: #00494d;
}

.calc-tip-input input[type="radio"] + label {
  display: block;
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #00494d;
  color: #f4fafa;
}

.calc-tip-input input[type="radio"] + label:hover {
  background-color: #26c0ab;
  color: #00494d;
}

.calc-tip-input input[type="tel"] {
  display: none;
  width: 150px;
  font-size: 2.5rem;
  font-weight: 700;
  color: #00494d;
  padding: 9px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.calc-tip-input input[type="tel"]:focus {
  outline: 2px solid #26c0ab;
}

.calc-tip-input input[type="tel"] + label {
  display: block;
  padding: 10px 25px;
  text-align: center;
  border-radius: 5px;
  font-size: 2.5rem;
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  background-color: #f4fafa;
  color: #5e7a7d;
}

.calc-tip-input input[type="tel"] + label:hover {
  outline: 3px solid #26c0ab;
  color: #26c0ab;
}

#calc-five {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-row: 1;
  grid-column: 1;
  grid-area: five;
}

#calc-ten {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-row: 1;
  grid-column: 2;
  grid-area: ten;
}

#calc-fifteen {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-row:2;
  grid-column: 1;
  grid-area: fifteen;
}

#calc-twenty-five {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-row: 2;
  grid-column: 2;
  grid-area: twenty-five;
}

#calc-fifty {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-row: 3;
  grid-column: 1;
  grid-area: fifty;
}

#calc-custon {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-row: 3;
  grid-column: 2;
  grid-area: custom;
}

.calc-people-container .calc-input {
  width: 100%;
  font-size: 2.4rem;
  font-weight: 700;
  background-image: url("../../assets/tips-calculator-img/icon-person.svg");
  background-repeat: no-repeat;
  background-size: initial;
  background-position: 5% center;
  color: #00494d;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
  position: relative;
}

.calc-people-container .calc-input:focus, .calc-people-container .calc-input:hover {
  outline: 2px solid #26c0ab;
}

.calc-people-container .calc-input::-webkit-input-placeholder {
  color: #7f9c9f;
}

.calc-people-container .calc-input:-ms-input-placeholder {
  color: #7f9c9f;
}

.calc-people-container .calc-input::-ms-input-placeholder {
  color: #7f9c9f;
}

.calc-people-container .calc-input::placeholder {
  color: #7f9c9f;
}

.calc-people-container .calc-nb-people-error {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-people-container .calc-input-error {
  outline: 2px solid red;
}

.calc-people-container .calc-input-error {
  color: red;
  font-size: 1rem;
  display: inline-block;
}

.calc-recap-container {
  width: 100%;
  background-color: #00494d;
  border-radius: 15px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 30px;
}

.calc-recap-container .calc-p {
  font-size: 1.4rem;
  color: #7f9c9f;
}

.calc-recap-container .calc-recap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-recap-container .calc-recap-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calc-recap-container .calc-tip-amount .calc-p, .calc-recap-container  .calc-total-amount .calc-p {
  color: #26c0ab;
  font-size: 3rem;
  font-weight: 700;
}

.calc-recap-container .calc-btn-reset-form button[type="reset"] {
  width: 100%;
  cursor: pointer;
  background-color: #26c0ab;
  color: #00494d;
  font-size: 1.8rem;
  font-weight: 700;
  font-family: "Space Mono", monospace;
  text-transform: uppercase;
  border-radius: 5px;
  padding: 10px 0;
  border: none;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.calc-recap-container .calc-btn-reset-form button[type="reset"]:hover {
  background-color: #c5e4e7;
}

.calc-recap-container .calc-btn-reset-form .empty button[type="reset"] {
  background-color: #26c0ab24;
}

@media screen and (min-width: 1440px) {
  .calc-body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 40px;
    padding-top: 0;  
  }
  .calc-container {
    height: 500px;
    border-radius: 25px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-column-gap: 40px;
            column-gap: 40px;
  }
  .calc-general-input-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .calc-tip-input {
    -ms-grid-columns: (1fr);
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: (1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas: "five ten fifteen"
 "twenty-five fifty custom";
  }
  .calc-tip-input input[type="tel"] {
    width: 141px;
  }
  .calc-people-container .calc-input-error {
    font-size: 1.8rem;
  }
  .calc-recap-container {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    padding: 70px 40px 40px 40px;
  }
  .calc-recap-container .calc-tip-amount .calc-p, .calc-recap-container .calc-total-amount .calc-p {
    font-size: 4.3rem;
  }
  .calc-recap-container .calc-btn-reset-form {
    margin-top: auto;
  }
}